@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&display=swap');

:root {
    --red: hsl(0, 100%, 67%);
    --l-red: hsl(6, 100%, 98%);
    --yellow: hsl(39, 100%, 56%);
    --l-yellow: hsl(42, 100%, 97%);
    --green: hsl(166, 100%, 37%);
    --l-green: hsl(173, 53%, 97%);
    --c-blue: hsl(234, 85%, 45%);
    --c-l-blue: hsl(240, 71%, 97%);
    --left-grad: linear-gradient(to bottom left, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --c-grad: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.bg {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 640px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1ch;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.left {
    padding: 30px 40px;
    text-align: center;
    width: 320px;
    border-radius: 30px;
    background: var(--left-grad);

}

.right {
    width: 320px;
    padding: 30px 30px;
    font-weight: 700;

}

.right-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(148, 148, 148);
    margin-top: 30px;
}

.right-container>div {
    margin: 0 0 15px 0;
    width: 100%;
    border-radius: 10px;
    padding: 10px;

}

.right-container-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.right-container-container p {
    display: inline-block;
}


/* .right-container-left-item {
    margin-right: auto;
}

.right-container-right-item {
    margin-left: auto;
} */


.percentage-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: var(--c-grad);
    box-shadow: inset var(--left-grad) 0px 0px 60px -12px;
}

.btn {
    background-color: hsla(241, 72%, 46%, 0);
    width: 100%;
    padding: 12px 0 12px 0;
    border-width: 2px 4px;
    border-radius: 35px;
    box-shadow: none;
    background-color: hsl(224, 30%, 27%);
    margin-top: 30px;
}

.btn>a {
    color: white;
    font-size: 16px;
    font-weight: 700;
}


/* Mobile View */

@media (max-width: 375px) {
    .bg {
        justify-content: center;
        align-items: flex-start;
    }

    .container {
        height: 809px;
        width: 100%;
        flex-direction: column;
        box-shadow: none;
    }

    .left {
        width: 100%;
        border-radius: 0 0 30px 30px;
    }

    .right {
        width: 100%;
    }

    .attribution {
        margin-top: 50px;
    }

    .btn {
        margin-top: 20px;
    }
}




/* --------------- */



/* utilities */
.white-text {
    color: white;
}

.black-text {
    color: black;
}

.grey-text {
    color: rgba(128, 128, 128, 0.727);
}

.grey-text-2 {
    color: hsla(0, 0%, 100%, 70%);
}

.grey-text-dark {
    color: hsla(0, 0%, 100%, 50%);
}

.bold-text {
    font-weight: 700;
}

.one {
    color: var(--red);
    background-color: var(--l-red);
}

.two {
    color: var(--yellow);
    background-color: var(--l-yellow);
}

.three {
    color: var(--green);
    background-color: var(--l-green);
}

.four {
    color: var(--c-blue);
    background-color: var(--c-l-blue);
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}